.tree-vis {
  border: 1px solid black;
  height: 200px;
  width: calc(100% - 678px);
  float: right;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
