.tree-vis {
  height: 500px;
  width: calc(100% - 678px);
  float: right;
}



.node circle {
  fill: #fff;
  stroke: #dc322f;
  stroke-width: 3px;
}

.node text {
  font-family: "Andale Mono", monospace;
  font-size: 16px;
}

.link {
  fill: none;
  stroke: #93a1a1;
  stroke-width: 2px;
}
